<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>0 SIM Log Stats</title>

  <!-- Graph -->
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

</head>

<body>
  <p><strong>0 SIM STATS ALL LOG</strong></p>

  <p>
    <%= link_to "Register New Log", new_zero_sim_usage_path %>
  </p>

  <table>
    <tr>
      <th>ID</th>
      <th>Year</th>
      <th>Month</th>
      <th>Day</th>
      <th>Day Used</th>
      <th>Month Used Current</th>
      <th>Created at</th>
      <th>Updated at</th>
    </tr>

    <% @zero_sim_usages.each do |usage| %>
      <tr>
        <td><%= usage.id %></td>
        <td><%= usage.year %></td>
        <td><%= usage.month %></td>
        <td><%= usage.day %></td>
        <td><%= usage.day_used %></td>
        <td><%= usage.month_used_current %></td>
        <td><%= usage.created_at %></td>
        <td><%= usage.updated_at %></td>

        <td><%= link_to "Show", zero_sim_usage_path(usage.id) %></td>
        <td><%= link_to "Edit", edit_zero_sim_usage_path(usage.id) %></td>
        <td><%=
            link_to "Delete",
            zero_sim_usage_path(usage.id),
            method: :delete,
            data: { confirm: "Are you sure ?" }
        %></td>
      </tr>
    <% end %>
  </table>

  <p>
    <%= link_to "Cloud Sync Service Root Top", root_path %>
  </p>

  <div>
    <%= area_chart @graph_data,
        id: "0 SIM Log Stats",
        label: "Log",
        xtitle: "Date",
        ytitle: "MB" %>
  </div>

</body>

