<p><strong>1 Record</strong></p>

<p>
  <strong>YEAR: </strong>
  <%= @zero_sim_usage.year %>
  <br>
  <strong>MONTH: </strong>
  <%= @zero_sim_usage.month %>
  <br>
  <strong>DAY: </strong>
  <%= @zero_sim_usage.day %>
</p>

<p>
  <strong>DAY USED: </strong>
  <%= @zero_sim_usage.day_used %>
  <br>
  <strong>MONTH USED CURRENT: </strong>
  <%= @zero_sim_usage.month_used_current %>
</p>

<p>
  <%= link_to "Back", zero_sim_usages_path %>
</p>

