<h3><strong>CLOUD SYNC SERVICE</strong></h3>

<h3><strong>SIM Stats</strong></h3>

<table class="no-border" data-turbolinks="false" ><tbody>
  <tr>
    <td>Latest</td>
    <td><%= link_to "TOTAL", sim_stats_total_path %></td>
  </tr>
  <tr>
    <td></td>
    <td><%= link_to "DCM", sim_stats_dcm_path %></td>
  </tr>
  <tr>
    <td></td>
    <td><%= link_to "Nuro", sim_stats_nuro_path %></td>
  </tr>
  <tr>
    <td></td>
    <td><%= link_to "ZeroSIM", sim_stats_zero_sim_path %></td>
  </tr>
</tbody></table>



<h3><strong>Error Logs</strong></h3>

<p>
  <%= button_to 'Drive Watch Dog', trigger_watch_dog_and_reload_path, { :method => :get } %>
</p>

<% if @error_logs.empty? %>
  NO ERROR
<% else %>
  <table nowrap ><tbody>
    <% @error_logs.each { |error_log| %>
      <tr>
        <td>
          <%= button_to 'DEL', delete_error_log_and_reload_path( { :id => error_log.id } ), { :method => :get } %>
        </td>
        <td>
          <%= error_log.title %>
        </td>
        <td>
          <% error_log.body.split("\n").each { |line| %>
            <%= line %><br>
          <% } %>
        </td>
        <td>
          <%= error_log.when %>
        </td>
      </tr>
    <% } %>
  </tbody></table>
<% end %>



<%= javascript_pack_tag 'root' %>

